.tit{color:#1d82d4;font-weight: bold;font-size:24px; text-align: center; line-height: 90px;}
.comput{font-size:48px; line-height:60px;color:#1f83d2; font-weight: bold;text-align:center;}
.comput label{color:#e7661a;}
.content{width:700px; margin:0 auto;overflow:hidden; background:url(../images/bei2.png) no-repeat;}
.login{width:420px; height:270px;margin:60px auto 0;border-radius:4px;padding:10px;position:relative;}
.opac{opacity: 0.9;width:440px; height:270px; background:#1d82d4;filter:Alpha(opacity=90);position:absolute; left:0;right:0;top:0;bottom:0;}
.login_in{padding:10px;height:230px;background:#ffffff;border-radius:4px;opacity:1;z-index: 999;position:relative;_margin-top: 10px;}
h4{font-size:18px; color:#2787d3;}
h4 label{color:#b3b3b3;margin-left:15px; letter-spacing:2px;}
.login_in div{margin-top: 28px;}
.login_in div label{width:100px;color:#000000;padding-right: 30px;text-align: right;font-size:14px;display: inline-block;}
.login_in input{width:235px;height:30px; border:1px solid #838383;}
.btn{text-align: center;}
.btn input{width:130px;height:30px; font-size:14px;background:#e8661a;border:none;color:#fff;}
.btn .sub{background:#1f83d1;margin-right:20px;}
.tip{    text-align: center; font-size: 15px; color: #e7661a;}
.error{ text-align: center; font-size: 13px; color: red;visibility: hidden;height:20px;    padding-top: 10px;margin-bottom: -14px;}